body {
   font-family: Arial, Helvetica, sans-serif;
}

/* PAGE STYLING */

.page-wrap {
    padding: 2rem 4%;
}

.page-wrap .page-title {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
}

.dashboard {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 1.5rem;
    gap: 1rem;
}

.dashboard .chart {
    display: flex;
    padding: 1rem 0.7rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.dashboard .category-cards {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dashboard .category-cards .card-hld {
    width: 48%;
    position: relative;
    margin-bottom: 0.3rem;
    display: inline-block;
    border-radius: 0.3rem;
    background-color: rgba(0, 0, 0, 0.06);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.dashboard .category-cards .card-hld:nth-child(n+3) {
    margin-top: 1.7rem;
}

.dashboard .category-cards .card-hld .cont {
    padding: 0.8rem 6%;
    border-radius: 0.3rem;
    border: 1px solid white;
}


.dashboard .category-cards .card-hld .cont .det {
    position: relative;
}

.dashboard .category-cards .card-hld .cont .det .title {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
    color: #424242;
}

.dashboard .category-cards .card-hld .cont .det .cost {
    margin-top: 0.2rem;
    color: #36ab68;
}

.dashboard .category-cards .card-hld .cont .det .cost span {
    font-size: 0.7rem;
    letter-spacing: 0.03rem;
}

.dashboard .category-cards .card-hld .cont .det .count {
    font-size: 0.7rem;
    letter-spacing: 0.03rem;
}

.dashboard .category-cards .card-hld .cont .det .count span {
    font-size: 1.3rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 0.4rem;
}

.dashboard .category-cards .card-hld .cont .det .icon {
    width: 25%;
    font-size: 1.8rem;
    text-align: right;
}

.dashboard .category-cards .card-hld .cont .det .icon img {
    width: 100%;
    height: auto;
}

.dashboard .category-cards .card-hld .cont .det:last-child {
    display: flex;
    margin-top: 0rem;
    align-items: flex-end;
    justify-content: space-between;
}

.table-wrap .download-btn {
    font-size: 1.1rem;
    letter-spacing: 0.03rem;
    color: white;
    padding: 0.6rem 1.3rem;
    border-radius: 0.3rem;
    text-decoration: none;
    background-color: rgba(66, 133, 244, 1);
    position: relative;
    top: -1.8rem;
}

.table-wrap .download-btn span {
    font-size: 1rem;
}

.table-wrap table {
    margin-top: 3rem;
}

table {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

table thead {

}

table thead tr {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background: rgba(66, 133, 244, 0.25);
}

table thead tr:first-child {
    border-top-left-radius: 0.4rem;
}

table thead tr:last-child {
    border-top-right-radius: 0.4rem;
}

table thead tr th {
    padding: 0.7rem;
    font-size: 0.9rem;
}

table thead tr th:nth-child(1),
table thead tr th:nth-child(3),
table thead tr th:nth-child(5) {
    width: 10%;
}

table thead tr th:nth-child(2),
table thead tr th:nth-child(6),
table thead tr th:nth-child(7) {
    width: 12%;
}

table thead tr th:nth-child(4) {
    width: 30%;
}

table tbody {

}

table tbody tr {
    height: 3rem;
    padding: 0.7rem 0.5rem;
}

table tbody tr:nth-child(n+2) {
    border: 1px solid rgba(0, 0, 0, 0.02);
}

table tbody tr td {
    font-size: 0.85rem;
    text-align: center;
}

table tbody tr td:nth-child(4) {
    text-align: left;
}

/* UPLOAD MODAL STYLING*/

.upload-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    overflow: hidden;
    align-items: center;
    border-radius: 0.4rem;
    justify-content: center;
}

.create-card {
    width: 35%;
    min-width: 25rem;
    height: auto;
    overflow: hidden;
    border-radius: 0.4rem;
    background-color: transparent;
    filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.1));
    box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
}
.create-card .top-card {
    width: 100%;
    height: auto;
    padding: 3vh 4% 0;
    box-sizing: border-box;
    background-color: #424242;
    position: relative;
    z-index: 7;
}

.create-card .top-card .hdr-details {
    height: auto;
    padding: 1vh 1% 0;
    border-radius: 0.4rem;
    overflow: hidden;
    background-color: #424242;
    position: relative;
    z-index: 1;
}

.create-card .top-card .hdr-details .inner-wrap {
    display: flex;
    align-items: center;
    position: relative;
    gap: 1rem;
    z-index: 3;
}

.close-btn {
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    font-size: 1rem;
    position: absolute;
    padding-top: 2px;
    transition: all 0.4s ease;
    border: 1px solid white;
    cursor: pointer;
    color: white;
    right: 0;
    top: 0rem;
}
.close-btn:hover {
    background-color: #eb5757;
    border: 1px solid #eb5757;
}
.create-card .top-card .hdr-details .inner-wrap .create-icon {
    width: 4.5rem;
    height: 7vh;
    padding-bottom: 0.3rem;
    border-radius: 0.3rem;
    background-color: rgba(53, 53, 53, 0.8);
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}
.create-card .top-card .hdr-details .inner-wrap .create-icon img {
    width: auto;
    height: 107%;
    position: relative;
}
.create-card .top-card .hdr-details .inner-wrap .create-details {
    position: relative;
    color: white;
}
.create-card .top-card .hdr-details .inner-wrap .create-details .create-name {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.06rem;
    text-transform: capitalize;
    margin-bottom: 0.7vh;
}
.create-card .bottom-card {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #424242;
    padding: 3vh 3% 1.5vh;
}
.create-card .bottom-card .content {
    padding: 0 5% 1rem;
}
.create-card .bottom-card .content .text {
    font-size: 0.9rem;
    line-height: 1.4;
    letter-spacing: 0.05rem;
    color: white;
}
.create-card .bottom-card .content .text a {
    color: rgba(66, 133, 244, 1);
    border: none;
    outline: none;
}
.create-card .bottom-card .content .actions {
    margin-top: 1rem;
}
.create-card .bottom-card .content .actions .upload-btn {
    width: 10rem;
    height: 2rem;
    position: relative;
    cursor: pointer;
}
.create-card .bottom-card .content .actions .file-upload {
    color: white;
    cursor: pointer;
    position: absolute;
    opacity: 1;
    left: 0;
    top: 0;
    z-index: 3;
}
.create-card .bottom-card .content .actions .upload-text {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.create-card .bottom-card .content .actions .upload-text {
    opacity: 0;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 0.04rem;
}
.create-card .bottom-card .content .actions .upload-text span {
    opacity: 0;
    font-size: 1.2rem;
    padding: 0.1rem 0.3rem;
    background-color: rgba(66, 133, 244, 1);
    margin-right: 0.2rem;
    border-radius: 0.3rem;
    color: white;
}
.create-card .bottom-card .content .actions .action-btn {
    width: 100%;
    display: flex;
    margin-top: 1rem;
    justify-content: flex-end;
}
.create-card .bottom-card .content .actions .action-btn .cta {
    width: fit-content;
    font-size: 0.8rem;
    letter-spacing: 0.04rem;
    border-radius: 0.3rem;
    justify-content: flex-end;
    background-color: rgba(66, 133, 244, 1);
    cursor: pointer;
    color: white;
    text-align: center;
    padding: 0.45rem;
}
.create-card .bottom-card .content .actions .action-btn .cta input {
    color: white;
    font-size: 0.8rem;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}

/*

.actions {

    .upload-btn {
        width: fit-content;
        cursor: pointer;

        .icon {
            display: inline-block;
            letter-spacing: 0.03rem;
            color: var(--primary);

            i {
                font-size: 1.2rem;
            }

            span {
                width: 1rem;
                height: 1rem;
                line-height: 1;
                border-radius: 50%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: var(--primary);
                margin-right: 0.3rem;
                padding-bottom: 0.1rem;
                color: #fff;
                font-size: 0.8rem;
            }
        }

        .file-name {
            font-size: 0.75rem;
            color: white;
        }
    }
} */