<!DOCTYPE html>
<html>  
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/styles.css') }}">
        <!-- <link href='{{ font_url }}' rel='stylesheet'> -->
        <title>Uploading & Reading CSV file</title>  
    </head>  
    <body>  
        <!-- <form enctype="multipart/form-data" action = "/">    
            <input type="file" name="file" accept=".csv">
            <input type = "submit" value="Upload">  
        </form>
        <p style="color:blue;">Choose csv file to upload</p>
        <form action="/show_data" target="_blank">
            <input type="submit" value="Show CSV"/>
        </form> -->

        <div class="upload-wrap">
            <div class="create-card">
                <div class="top-card">
                    <div class="inner-wrap">
                        <div class="hdr-details">
                            <div class="inner-wrap">
                                <div class="create-icon">
                                    <img src="{{ url_for('static', filename='img/csv-icon-slant.png') }}" />
                                </div>
                                <div class="create-details">
                                    <div class="create-name">Invoice File Upload</div>
                                    <!-- <p>The first step is to complete your business information.</p> -->
                                </div>
                                <div class="close-btn">&times;</div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="bottom-card">
                    <div class="content">
                        <div class="text">Import a csv file with the invoices to be classified. <br/>Download a sample <a href="{{ url_for('static', filename='docs/bulk-upload-template.csv') }}" target="_blank">template here</a>.</div>
            
                        <div class="actions">
                            <div class="btn-hld">
                                <div class="upload-btn">
                                    <input 
                                        type="file" 
                                        class="file-upload"
                                        #fileUpload
                                    />
                                    <div class="upload-text"> <span>&#8683;</span> Upload csv file </div>
                                    <!-- <span class="file-name">bulk-upload.pdf</span> -->
                                </div>
                                <div class="action-btn">
                                    <div class="cta primary" style="min-width: 30%" type="submit">Submit File</div>
                                </div>
                            </div>
                        </div>
                
                    </div>
            
                </div>
            </div>
        </div>
    </body>  
</html>