<!DOCTYPE html>
<html>  
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/styles.css') }}">
        <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link href='{{ font_url }}' rel='stylesheet'> -->
        <title>Uploading & Reading CSV file</title>  
    </head>  
    <body>  
        <table>
            <thead>
                <tr>
                    {% for col in colnames %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    {% for col in colnames %}
                    <td>{{ record[col] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="upload-wrap">
            <div class="create-card">
                <div class="top-card">
                    <div class="inner-wrap">
                        <div class="hdr-details">
                            <div class="inner-wrap">
                                <div class="create-icon">
                                    <img src="{{ url_for('static', filename='img/csv-icon-slant.png') }}" />
                                </div>
                                <div class="create-details">
                                    <div class="create-name">Invoice File Upload</div>
                                    <!-- <p>The first step is to complete your business information.</p> -->
                                </div>
                                <div class="close-btn">&times;</div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="bottom-card">
                    <form class="content" method="post" enctype="multipart/form-data">
                        <div class="text">Import a csv file with the invoices to be classified. <br/>Download a sample <a href="{{ url_for('static', filename='docs/rsk_invoice.csv') }}" target="_blank">template here</a>.</div>
            
                        <div class="actions">
                            <div class="btn-hld">
                                <div class="upload-btn">
                                    <input 
                                        type="file" 
                                        name="csv_file"
                                        class="file-upload"
                                    />
                                    <div class="upload-text"> <span>&#8683;</span> Upload csv file </div>
                                    <!-- <span class="file-name">bulk-upload.pdf</span> -->
                                </div>
                                <div class="action-btn">
                                    <div class="cta primary" style="min-width: 30%">
                                        <input type=submit value="Submit File">
                                    </div>
                                </div>
                            </div>
                        </div>
                
                    </form>
            
                </div>
            </div>
        </div>
    </body>  
</html>